<div class="container">
  <div class="photo-grid fade-in">
    <div class="photo-item" *ngFor="let photo of photos; let i = index" (click)="navigateToCategory(photo.category)">
      <div class="card">
        <div class="card-img-wrapper">
          <img [src]="photo.url" [alt]="photo.title" class="card-img-top">
          <div class="card-overlay">
            <span class="category-badge">{{photo.category | titlecase}}</span>
            <div class="overlay-content">
              <h5>{{photo.title}}</h5>
              <p *ngIf="photo.description">{{photo.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
