<div class="container">
  <div class="category-header fade-in">
    <h1 class="category-title">
      <span class="category-emoji">{{getCategoryEmoji(category)}}</span>
      {{category | titlecase}} Gallery
    </h1>
  </div>

  <div class="photo-grid fade-in">
    <div class="photo-item" *ngFor="let photo of photos; let i = index" (click)="openLightbox(i)">
      <div class="card">
        <div class="card-img-wrapper">
          <img [src]="photo.url" [alt]="photo.title">
          <div class="card-overlay">
            <div class="overlay-content">
              <h5>{{photo.title}}</h5>
              <p *ngIf="photo.description">{{photo.description}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-fullscreen-gallery *ngIf="showLightbox" [photos]="photos" [currentIndex]="selectedIndex" (close)="closeLightbox()"></app-fullscreen-gallery>
</div>
